*{
    font-size: 16px;
     
}

footer{
    margin: 10px;
    padding: 5px 20px;
    background-image: linear-gradient(to left , rgb(238, 234, 234), rgb(87, 42, 80)) ;
    overflow:hidden

   
    }
    header{
        margin: 10px;
        padding: 20px 20px;
       

        background-image: linear-gradient(to left , rgb(238, 234, 234), rgb(87, 42, 80)) ;
        overflow:hidden
       
        
    }
    
  a{
    color: black;
    
}
td , tr, th{
   
    border-style:double;
    padding: 10px;
    font-family: fantasy;
 
 }


 #tableS {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 30%;
  }

  #card {
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }